#livereWriteForm {
	margin-bottom: 0px;
	padding: 15px;
	border: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	background: none;
}

#livereHome {
	display: none;
}

#liverePlugIn .livere_contentText {
	height: 40px;
}